/* Colors --------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

:root {
    --blue: #1752ED;
    --pink: #F5246E;
    --orange: #F55236;
    --yellow: #f7bc55;
    --navy: #051C59;
}

/* group vid --------------------------------------------------------------------------- */

#playBtnWrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vidControlsWrap{
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.vidControls{
    z-index: 10;
    width: 12vw;
    cursor: pointer;
    height: 12vw;
    max-width: 50px;
    max-height: 50px;
}

#playBtn{
}
#muteBtn{
}

#groupPhotoWrap{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#groupVid{
    width: 100vw;
    object-fit: cover;
    min-width: 600px;
    min-height: 100px;
    max-height: 90vh;
}

/* image grid --------------------------------------------------------------------------- */

.row {
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
  }
  
.column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
  }

.imageWrap {
    width: 20%;
    padding: 30px;
    position: relative;
}

.imageWrap > h3{
    text-align: center;
    margin-top: 15px;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


  
#nonModalWrap{
    transition: filter .1s ease-in-out;
    margin-top: 50px;
    margin-bottom: 20px;
}

.bioLink{
    cursor: pointer;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 10pt;
    text-transform: uppercase;
    display: block;
    background: none;
    border: none;
    width: 100%;
}

.bioLinkMobile{
    cursor: pointer;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 10pt;
    text-transform: uppercase;
    display: block;
    background: none;
    border: none;
    width: 100%;
}

#modalBg{
    display: none;
    visibility: hidden;
    opacity: 0.0;
    transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
    background-color: rgba(100, 100, 100, 0.2);
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
    place-items: center;
}

#bioModal{
    width: 85%;
    z-index: 100;
    border-radius: 12px;
    background: black;
    padding: 65px 80px;
    box-sizing: border-box;
    position: relative;
    color: white;
    margin-top: 100px;
    margin-bottom: 120px;
}

.bioWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#closeModal{
    color: white;
    position: absolute;
    font-size: 36px;
    top: 10px;
    right: 22px;
    cursor: pointer;
}

.bioPicWrap{
    width: 25%;
}

#modalPic{
    width: 100%;
}

.bioTextWrap{
    width: 60%;
    min-width: 100px;
}

#name{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: none;
    line-height: 0.8;
}

#siteLink{
    line-height: 3;
}

.instaLinkedInWrap{
    display: inline-block;
    margin-bottom: -15px;
}

#linkedinLink{
    width: 20px;
    height: 20px;
}

.linkedin{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: filter 0.1s ease-in-out;
}

.linkedin:hover{
    filter: blur(1px);
}

.pipe{
    font-family: "rubik", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    text-decoration: none;
    color: white;
}

.contactLink{
    text-decoration: none;
    color: white;
    transition: color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 10pt;
    text-transform: uppercase;
    line-height: 2.5;
    display: inline-block;
}

#instaLink{
    font-size: 8pt;
}

.contactLink:hover{
    color: transparent;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

#descrip{
    line-height: 1.7;
}

.vimeoWrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top: 55px;
}

#vimeo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Image hovers  --------------------------------------------------------------------------- */

.personality{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px;
    opacity: 0;
    box-sizing: border-box;
    transition: opacity .2s ease-in-out;
}



@media screen and (max-width: 1200px) {
    .imageWrap {
        width: 20%;
        padding: 15px;
    }
    .personality{
        padding: 15px;
    }

  }

@media screen and (max-width: 800px) {
    .imageWrap {
        width: 25%;
        padding: 15px;
    }
    .personality{
        padding: 15px;
    }
  }
  
@media screen and (max-width: 600px) {
    .imageWrap {
        width: 25%;
        padding: 8px;
    }
    .personality{
        padding: 8px;
    }
  }

/* Back to Top Button --------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    max-width: 40px;
  }

  

  @media (hover: hover) and (pointer: fine) {
    #myBtn:hover {
        color: transparent;
        text-shadow: 0px 0px 2px rgba(0,0,0,1);
    }

    .imageWrap:hover > h3{
        color: transparent;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }

    .personality:hover{
        opacity: 1;
    }

  }


@media only screen and (max-width: 720px) {
    #bioModal{
        width: 95%;
    }

    .bioWrap {
      flex-direction: column;
    }

    .bioTextWrap{
        width: 100%;
        text-align: center;
    }

    #name{
        text-align: center;
    }

    .bioPicWrap{
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    #modalPic{
        width: 50%;
        margin: auto;
    }

    #groupVid{
        max-height: 60vh;
    }
}

@media only screen and (max-width: 500px) {
    #bioModal{
        width: 95%;
        margin-top: 75px;
        padding: 65px 40px;
    }

    #modalPic{
        width: 65%;
        height: 60%;
    }

    .imageWrap > h3{
        text-align: center;
        font-size: 8pt;
    }
}
