#container{
    display: block;
    width: 100%;
    z-index: -10;
}

body{
    overflow: hidden;
    position: relative;
}

#welcome{
    color: white;
    position: absolute;
    bottom: 20%;
    z-index: 10;
    width: 100%;
    text-align: center;
}