:root {
    --blue: #1752ED;
    --pink: #F5246E;
    --orange: #F55236;
    --yellow: #f7bc55;
    --navy: #051C59;
}

body{
    overflow-x: hidden;
}

#panoWrap{
    width: 100vw;
    height: 100vh;
    background: lightblue;
    margin-bottom: 120px;
    display: grid;
    place-items: center;
}

#filmWrap{
    margin-bottom: 120px;
    position: relative;
    display: flex;
    justify-content: center;
}

#gifWrap{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

#gif{
    height: 100vh;
    object-position: center;
}

.vimeoFilmWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 55px;
}

#video{
    z-index: 100;
    width: 100%;
    max-width: 1200px;
}

.playBtnWrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtn{
    z-index: 10;
    font-size: 20px;
    background: var(--blue);
    border-radius: 35px;
    padding: 12px 45px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 12pt;
    text-transform: uppercase;
    border: none;
    color: white;
    cursor: pointer;
}

/* Photo Grid --------------------------------------------------------------------------- */

.container{
    padding-bottom: 120px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  /* Create four equal columns that sits next to each other */
  .col {
    flex: 46%;
    max-width: 46%;
    padding: 2%;
  }
  
  .col img {
    padding-top: 10%;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }